<%= form_for @employee do |f| %>

<%= f.label :first_name, 'First Name' %>
<%= f.text_field :first_name, class: 'form-control' %>

<%= f.label :middle_name, 'Middle Name' %>
<%= f.text_field :middle_name, class: 'form-control' %>

<%= f.label :last_name, 'Last Name' %>
<%= f.text_field :last_name, class: 'form-control' %>

<%= f.label :birthday %>
<%= date_field :employee, :birthday, class: 'form-control' %>

<%= f.label :department_id %>
<%= f.collection_select(:department_id, Department.all, :id, :name, {:include_blank => true}, {:class=>'form-control'}) %>

<%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>