<% provide(:title, @user.username) %>
<% provide(:heading, "#{@employee.first_name} #{@employee.middle_name} #{@employee.last_name}") %>
<div class="well">
  <h2>User Information goes here</h2>
</div>