<% provide(:title, "Assign Job Titles") %>
<% provide(:heading, "Assign Job Titles") %>
<div class="well">
  <%= link_to "Assign Job Title", new_job_assignment_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Job Title</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @job_assignments.size == 0 %>
      <tr>
        <td colspan="8">No assigned jobs found.</td>
      </tr>
    <% else %>
      <% @job_assignments.each do |job_assignment| %>
        <tr> 
          <% emp = Employee.find(job_assignment.employee_id) %>
          <td>
            <% if emp.nil? %>
              <%= "Employee not found" %>
            <% else %>
              <%= display_name(emp) %>
            <% end %>
          </td>
          <% job = JobTitle.find(job_assignment.job_title_id) %>
          <td>
            <% if job.nil? %>
              <%= "Job Title not found" %>
            <% else %>
              <%= job.name %>
            <% end %>
          </td>
          <td><%= job_assignment.start_date %></td>
          <td><%= job_assignment.end_date %></td>
          <td>
            <%= link_to "Edit", edit_job_assignment_path(job_assignment), class: "btn btn-default" %>
          </td>
          <td>
            <%= link_to 'Delete', job_assignment, method: :delete, data: { confirm: 'Are you sure you wish to delete this assigned job title?' }, class: "btn btn-danger"  %></td>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>