<%= form_for [@employee, @address] do |f| %>

<%= f.label :line, 'Address Line' %>
<%= f.text_field :line, class: 'form-control' %>

<%= f.label :city, 'City' %>
<%= f.text_field :city, class: 'form-control' %>

<%= f.label :state, 'State' %>
<%= f.text_field :state, class: 'form-control' %>

<%= f.label :country, 'Country' %>
<%= f.country_select :country, class: 'form-control' %>

<%= f.submit yield(:button), class: "btn btn-primary" %>
<% end %>