<% provide(:title, "Employee Address") %>
<% provide(:heading, "Employee Address") %>
	<div class="well">
    <%= link_to "New Address", new_employee_address_path, class: "btn btn-primary" %>
  </div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="10"><%= "#{@employee.first_name} #{@employee.middle_name} #{@employee.last_name}" %></th>
    </tr>
    <tr>
      <th>Address Line</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @employee.addresses.size == 0 %>
      <tr>
        <td colspan="10">No addresses found.</td>
      </tr>
    <% else %>
      <% @employee.addresses.each do |address| %>
        <tr>
          <td><%= address.line %></td>
          <td><%= address.city %></td>
          <td><%= address.state %></td>
          <td><%= address.country %></td>
          <td>
            <%= link_to "Edit", edit_employee_address_path(@employee, address), class: "btn btn-default" %>
          </td>
          <td>
            <%= link_to 'Delete', employee_address_path(@employee, address), method: :delete, data: { confirm: 'Are you sure you wish to delete this address?' }, class: "btn btn-danger"  %></td>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>