<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
    <nav>
    	<ul class="nav navbar-nav navbar-right">
      	<li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>

          <% if admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Manage <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Employee", employees_path %></li>
                <li><%= link_to "Job Title", job_titles_path %></li>
                <li><%= link_to "Department", departments_path %></li>
                <li><%= link_to "User", users_path %></li>
              </ul>
            </li>
          <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Login", login_path %></li>
           
        <% end %>
    	</ul>
    </nav>
	</div>
</header>